{
  "workload": "workload1",
  "access": {
    "server": {
      "user": "admin",
      "password": "CHANGE_ME"
    },
    "client": {
      "user": "admin",
      "password": "CHANGE_ME"
    }
  }
}
